@import 'tailwindcss';

*,
*::before,
*::after {
	box-sizing: content-box !important;
}

img,
video {
	max-width: none !important;
}

img {
	display: inline !important;
}

body,
html {
	cursor: url('icons/cursors/cursor.cur'), auto;
}

a {
	cursor: url('icons/cursors/pointer.cur'), auto;
}

@font-face {
	font-family: 'RuneScape UF';
	src: url('/fonts/runescape_uf.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'RuneScape Quill';
	src: url('/fonts/runescape_quill.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

body {
	background: black;
	color: white;
	font-family: 'RuneScape UF', Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-align: center;
	margin: 0;
}

div#body {
	width: 765px;
	margin: 10px auto 10px auto;
	text-align: left;
	position: relative;
}

.page-wrap {
	background: url('/layout/bg.jpg') repeat-y center top;
	margin: 0 auto;
	overflow-y: hidden;
	padding: 0 50px;
	width: 815px;
}

.login-box {
	cursor: url('icons/cursors/party-hat.cur'), auto;
	background: black;
	border: 2px solid #382418;
	display: block;
	font-size: 1.3em;
	margin: 10px auto;
	overflow: hidden;
	padding: 3px;
	position: relative;
	text-align: center;
	width: 750px;
}

.login-box__login-link {
	color: #90c040;
	cursor: pointer;
	float: right;
	margin: 3px;
}

.banner {
	background: url('/layout/banner.gif') no-repeat center;
	display: block;
	min-height: 135px;
	text-align: center;
}

.home .banner__options {
	display: none;
}

.banner__options {
	background: black;
	border: 2px solid #382418;
	display: inline-block;
	margin-top: 45px;
	padding: 3px 15px;
}

.banner__title {
	display: block;
	font-size: 1.3em;
	font-weight: bold;
	margin-bottom: 3px;
}

.left {
	float: left;
}

a {
	color: #90c040;
	text-decoration: none;
}

fieldset.menu {
	border: 2px solid #382418;
	width: 260px;
	margin: 0 0 10px 0;
	display: block;
	padding: 0 5px 5px 5px;
	background-position: bottom right;
	background-repeat: no-repeat;
}

fieldset {
	background-color: black;
	display: block;
	min-inline-size: min-content;
	margin-inline: 2px;
	border-width: 2px;
	border-style: groove;
	border-color: threedface;
	border-image: initial;
	padding-block: 0.35em 0.625em;
	padding-inline: 0.75em;
}

fieldset.menu ul li {
	list-style: square inside;
	width: 220px;
}

fieldset.menu ul li img {
	height: 16px;
	width: 19px;
}

.main {
	margin-left: 290px;
	margin-bottom: 110px;
}

img.narrowscroll-top {
	position: relative;
	top: 25px;
	padding: 0;
	margin: 0;
	z-index: 100;
	display: block;
}

img.narrowscroll-bottom {
	position: relative;
	padding: 0;
	margin: 0;
	top: -25px;
	display: block;
}

div.narrowscroll-bg {
	width: 447px;
	background-color: #c2ab79;
	margin-left: 10px;
}

div.narrowscroll-bgimg {
	width: 457px;
	position: relative;
	margin: 0 -5px;
	background-image: url('/layout/scroll-bg.gif');
	background-repeat: repeat-y;
}

div.narrowscroll-content {
	padding: 25px 10px;
	color: #000000;
	position: relative;
	margin: 0 14px;
}

div.widescroll-content a,
div.horizontalscroll-content a,
div.narrowscroll-content a {
	color: #7b4f17;
	font-weight: bold;
}

div.skills-bgimg {
	width: 204px;
	height: 275px;
	position: relative;
	margin: 0 -5px;
	background-image: url('/layout/skills.png');
	background-repeat: repeat-y;
}

div.skills-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 300px;
}
.scroll {
	color: #635537;
}

. .right {
	text-align: right;
}

.news-title {
	font-family: 'RuneScape Quill', Arial, Helvetica, sans-serif;
	font-size: 34px;
	line-height: normal;
	margin-bottom: 8px;
	clear: right;
}

.newsdate {
	float: right;
}

dt {
	display: block;
	unicode-bidi: isolate;
}

dl {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	unicode-bidi: isolate;
}

legend {
	display: block;
	unicode-bidi: isolate;
	padding-inline: 2px;
}

.marquee {
	overflow: hidden;
	white-space: nowrap;
	box-sizing: border-box;
}

.marquee span {
	display: inline-block;
	padding-left: 100%;
	animation: marquee 18s linear infinite;
}

@keyframes marquee {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}

.glow1 {
	animation: glow1 3s linear infinite;
}

@keyframes glow1 {
	0% {
		color: #ff0000;
	}
	33% {
		color: #00b000;
	}
	66% {
		color: #0000ff;
	}
	100% {
		color: #ff0000;
	}
}

@media (max-width: 768px) {
	.left {
		float: none;
	}

	.main {
		margin-left: auto;
	}

	fieldset.menu {
		width: auto;
	}

	.narrowscroll-top {
		width: 100%;
	}

	div.narrowscroll-bg {
		width: 97%;
	}

	div.narrowscroll-bgimg {
		width: 102%;
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}

	div.narrowscroll-content {
		width: 93.5%;
	}

	.narrowscroll-bottom {
		width: 100%;
	}

	body {
		font-size: 20px;
	}
}
